<form action="" method="post">
    <input name="item" type="text" placeholder="NEW ITEM" />
    <button type="submit">+</button>
</form>
</div>
<% const d=new Date().getFullYear(); %>
    <footer>copyright @ <%= d %>
    </footer>
    </div>
    </body>

    </html>